<template>
  <div class="content">
    <my-menu />
    <router-view></router-view>
  </div>
</template>

<script>
import Menu from "./components/Menu.vue";
export default {
  components: {
    "my-menu": Menu
  }
};
</script>

<style scoped>
.content {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 216, 216);
  color: white;
  transition: 0.7s;
}
</style>
