<template>
  <div class="container-img">
    <b-card
      style="max-width: 100%;"
      overlay
      img-src="../../static/amor_ao_proximo_saude.jpg"
      img-alt="Card Image"
      text-variant="cornflowerblue"
      class="img"
    >
      <b-card-text class="text-image">
        <h1>{{info.title}}</h1>
      </b-card-text>
      <b-card-text class="text-image">{{info.description}}</b-card-text>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      info: {
        title: {
          type: String
        },
        description: {
          type: String
        }
      }
    };
  },
  created() {
    this.info.title = "Sua Doação Vale Vida";
    this.info.description = "Doe Amor. Doe Vida.";
  }
};
</script>

<style lang="css" scoped>
.container-img {
  width: 100%;
  display: flex;
  height: 50%;
  /* position: sticky; */
  text-align: right;
}

.img {
  width: 100%;
  overflow: hidden;
  border: transparent;
  color: cornflowerblue;
  /* position: absolute; */
}

.text-image {
  position: fixed;
  right: 1%;
  top: 17%;
}
.text-image h1 {
  position: fixed;
  right: 1%;
  top: 10%;
}

@media screen and (max-width: 800px) {
  .img {
    display: none;
  }
}
</style>