<template>
  <div>
    <b-button variant="primary">{{title}}</b-button>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    }
  }
};
</script>
<style lang="css">
</style>