<template>
  <b-card
    v-bind:title="info.title"
    img-src="../../static/morador.jpg"
    img-alt="Image"
    img-top
    style="max-width: 20rem;"
    class="mb-2"
  >
    <b-card-text>{{ info.details }}</b-card-text>

    <router-link class="router" to="/details">
      <my-button class="primary" :title="info.textbutton" />
    </router-link>
  </b-card>
</template>
<script>
import Button from "./Button.vue";

export default {
  components: {
    "my-button": Button
  },
  data() {
    return {
      info: {
        title: {
          type: String
        },
        details: {
          type: String
        },
        textbutton: {
          type: String
        }
      }
    };
  },
  created() {
    this.info.title = "Projeto Moradores";
    this.info.details =
      "Neste projeto arrecadamos roupas, cobertores, alimentos e realizamos internações voluntárias";
    this.info.textbutton = "Saiba mais";
  }
};
</script>
<style lang="css" scoped>
.mb-2 {
  transition: 0.9s;
  background-color: white;
  color: cornflowerblue;
  position: fixed;
  top: 20%;
  left: 1%;
  border: transparent;
}
.router {
  color: white;
  text-decoration: none;
}
</style>