<template>
  <div>
    <b-card bg-variant="light" class="principal-form">
      <b-form-group
        label-cols-lg="3"
        v-bind:label="info.title"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
        <b-form-group label-cols-sm="5" label="Nome:" label-align-sm="right" label-for="name">
          <b-form-input id="name" placeholder="Ramon"></b-form-input>
        </b-form-group>

        <b-form-group label-cols-sm="5" label="Celular:" label-align-sm="right" label-for="phone">
          <b-form-input id="phone" placeholder="11 98314-7842"></b-form-input>
        </b-form-group>

        <b-form-group label-cols-sm="5" label="e-mail:" label-align-sm="right" label-for="email">
          <b-form-input id="email" placeholder="raammonzito@gmail.com"></b-form-input>
        </b-form-group>

        <b-form-group label-cols-sm="5" label="Bairro:" label-align-sm="right" label-for="zone">
          <b-form-input id="zone" placeholder="Jardim das Flores"></b-form-input>
        </b-form-group>
      </b-form-group>
      <b-form-group label-cols-sm="9">
        <b-button variant="primary">Vamos Juntos</b-button>
      </b-form-group>
      <span class="contact-details">{{info.details}}</span>
    </b-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      info: {
        title: {
          type: String
        },
        contact: [
          {
            name: {
              type: String
            },
            phone: {
              type: Number
            },
            email: {
              type: String
            },
            zone: {
              type: String
            }
          }
        ],
        details: {
          type: String
        }
      }
    };
  },
  created() {
    this.info.title = "Entre em Contato";
    this.info.details =
      "Todas as arrecadações são consolidadas e entregues no menor intervalo de tempo possível, evitando, assim, todo e qualquer desperdício.";
  }
};
</script>
<style lang="css" scoped>
.principal-form {
  width: 40%;
  color: cornflowerblue;
  right: 1%;
  bottom: 2%;
  position: fixed;
  border: transparent;
}
.contact-button {
  position: relative;
}
.contact-details {
  color: rgba(197, 194, 194, 0.664);
}

@media screen and (max-width: 800px) {
  .img {
    display: none;
  }
}
</style>