<template>
  <div class="principal">
    <b-navbar class="nav-superior" toggleable="lg" type="dark" variant>
      <b-navbar-brand href="#">Doe Amor</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <div class="img-container">
            <img class="img" src="../../static/doacao.png" />
          </div>
          <b-nav-item href="#">Transforme</b-nav-item>
          <b-nav-item href="#" disabled>Como ajudar</b-nav-item>
          <b-nav-item href="#" disabled>Onde nos encontrar</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Cidade, Instagram, etc"></b-form-input>
            <b-button variant="primary">Procurar</b-button>
          </b-nav-form>
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>Conta</em>
            </template>
            <b-dropdown-item href="#">Perfil</b-dropdown-item>
            <b-dropdown-item href="#">Sair</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {};
</script>
<style lang="css" scoped>
.principal {
  color: brown !important;
  background-color: cornflowerblue;
  position: sticky;
}

.img-container {
  width: 5%;
}
.img {
  width: 100%;
}
</style>