<template>
  <div>
    <li>
      <router-link to="/">Voltar</router-link>
    </li>
    <li>You are in Details Page. Vc clicou no {{title}}</li>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    }
  },
  data() {
    return {};
  },
  created() {}
};
</script>
<style lang="css">
</style>