<template>
  <section>
    <div class="content-banner">
      <my-banner />
      <my-card />
      <my-form />
    </div>
  </section>
</template>
<script>
import Banner from "../components/Banner.vue";
import Card from "../components/Card.vue";
import Form from "../components/Form.vue";

export default {
  components: {
    "my-banner": Banner,
    "my-card": Card,
    "my-form": Form
  }
};
</script>

<style lang="css" scoped>
/* .content-banner {
  display: relative;
  position: relative;
} */
</style>